
body {
    background-color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    
}

header {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

main {
    display: flex;
    text-align: center;
}

.container {
    flex-direction: column;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

label {
    order: -1;
    font-size: 20px;
    color: #ffffff;
}