
body {
    background-color: blue;
    text-align: center;
    
}

header {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.container {
   
    text-align: center;
 

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 200px;
}

label {
    order: -1;
    font-size: 20px;
    color: #ffffff;
}